:root {
  --primary-color: #011f26;
  --secondary-color: #025e73;
  --tertiary-color: #026873;
  --quatiary-color: #03a688;
  --pop: #f2668b;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: var(--pop);
  font-size: 24px;
}

h2 {
  color: var(--pop);
}

h3 {
  color: var(--pop);
}

p {
  color: var(--quatiary-color);
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--pop);
  text-decoration: none;
}

nav > div > ul > li > a:hover {
  text-decoration: underline;
}

label {
  color: var(--tertiary-color);
}

#projectWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-inline: 20px;
  margin-block: 50px;
}

#proj1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 994px;
}

#proj1 > a > img {
  height: 100%;
  object-fit: cover;
}

#proj3 {
  grid-column: 3 / 3;
  grid-row: 2;
}

.project {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: end;
  user-select: none;
  transition: 200ms all ease-in-out;
  z-index: 1;
}

.project:hover {
  transform: scale(1.01);
}

.project > a > img {
  z-index: 20;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.project > a > h3,
.project > a > p {
  background-color: var(--quatiary-color);
  color: var(--primary-color);
  margin: 0;
}

.project > a > h3 {
  text-decoration: underline;
  font-size: 24px;
  padding-top: 20px;
  padding-right: 20px;
}

.project > a > p {
  padding-right: 20px;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: -100px;
}

footer > div {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

footer > div > #linkWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: auto;
}

footer > div > p {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

ion-icon {
  color: var(--pop);
  font-size: 36px;
}

header {
  background-color: var(--primary-color);
}

nav {
  width: 100vw;
  height: 70px;
  display: grid;
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav > div > h1 {
  width: auto;
  color: var(--quatiary-color);
}

nav > div > ul {
  margin-right: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

@media screen and (max-width: 1100px) {
  #projectWrap {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

#about > p {
  color: var(--primary-color);
  text-align: center;
  background-color: var(--quatiary-color);
  padding: 20px;
}

section > h2 {
  color: var(--pop);
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
}

#projects {
  min-height: 100vh;
}

#contact {
  width: 100vw;
  text-align: center;
}

#contact > div {
  max-width: 750px;
  margin: auto;
}

#contact > div > form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: auto;
  justify-content: center;
}

#contact > div > form > input,
.grow-wrap > textarea,
.grow-wrap::after {
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid var(--pop);
  outline: none;
  background-color: transparent;
  text-align: center;
  color: white;
}

.grow-wrap > textarea,
.grow-wrap::after {
  text-align: left;
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

#contact > div > form > label {
  color: var(--pop);
}

#contact > div > form > label:not(:first-child) {
  margin-top: 20px;
}

#contact > div > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  height: 50px;
  width: 200px;
  border: 1px solid var(--pop);
  background-color: var(--pop);
  color: var(--secondary-color);
  cursor: pointer;
  transition: 200ms all ease-in-out;
  border-radius: 5px;
}

#contact > div > form > button:hover {
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--pop);
}

#contact > div > form > button > div {
  width: fit-content;
  position: relative;
}

#contact > div > form > button > div::after {
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 0;
  content: "";
  background-color: var(--pop);
  width: 0%;
  height: 2px;
  transition: 200ms all ease-in-out;
}

#contact > div > form > button:hover > div::after {
  width: 100%;
}
